@import "tailwindcss";

.custom-scroll::-webkit-scrollbar {
  height: 5px; 
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #e2e8f0; 
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}